APP_URL=http://localhost:8080
ENVIRONMENT=development
DB_DRIVER=postgres
DB_SOURCE=postgres://postgres:postgres@localhost:5432/synapsis_db?sslmode=disable
MIGRATION_URL=file://database/migrations
REDIS_ADDRESS=0.0.0.0:6379
PORT=8080
SECRET=sampleswtsecret
